<section class="hero">
    <div class="hero-top-container">
        <h1>Transform <br> Your Home, Your Life</h1>
    <p>We specialize in turning your renovation dreams into <br> reality. Whether you're upgrading one room or your <br>entire home, we deliver exceptional craftsmanship and <br>personalized service every step of the way. </p>
    </div>
    <img src="/img/hero-bg-test.jpg" alt="">
</section>

<section class="service">
    <h1>Our Services</h1>

    <div class="service-container">

        <div class="service-datails">
            <h1>Outdoor Living</h1>
            <p>Patios, decks, and exterior upgrades to <br>extend your living space</p>
        </div>

        <div class="service-datails">
            <h1>Kitchen Remodels</h1>
            <p>Custom cabinetry, countertops,<br> backsplashes, and layout redesign</p>
        </div>

        <div class="service-datails">
            <h1>Basement Finishing</h1>
            <p>Create livable, functional spaces that <br> add value to your home</p>
        </div>

        <div class="service-datails">
            <h1>Home Makeovers</h1>
            <p>Open-concept spaces, additions, and <br> total transformations</p>
        </div>

        <div class="service-datails">
            <h1>Bathroom Renovations</h1>
            <p>Spa-like retreats with modern fixtures,<br> tiling, and luxury finishes</p>
        </div>

        <button>Get the House of Your Dreams</button>
    </div>


</section>